<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> <!-- coding for special characters-->
        <title>Flex-Gear</title>
        </head>
        <!-- Link to bootstap 5 CSS Styling-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
    <body>
        <section class="header">
    
        <nav>
            <nav class="navBar"></div>
            <div class="nav-Left">
                <img src="./images/logo.png" alt="Flex-Gear" width="40" height="auto">
            </div>
            <div class="nav-center">
                <div class="search">
                    <input type="text" placeholder="Search..." class="searchInput">
                    <img src="./images/search.png" width="20" height="20" alt="" class="searchIcon">
                </div>
                <span class="limited offer">Limited Offer</span>
            </div>
            <div class="navBottom"> <!--Promotion -->
                <h3 class="menuItem">50%</h3>
                <h3 class="menuItem">OFF</h3>
                <h3 class="menuItem">TODAY!</h3>
             
               
            
                    <ul> <!-- headings in nav-->
                        <li><a href="/">Home</a></li>
                        <li><a href="/product">Shop</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            
            </div>
        </nav>
        
        <div class="text-box"> <!--where paragraph goes-->
            <h1>Worlds Best Active Clothing</h1>
            <p>Unleash your potential with Flex Gear — where style meets performance.
                Whether you’re grinding through a heavy lift, smashing cardio goals, or just repping your fit lifestyle, Flex Gear has your back with high-performance, ultra-comfortable athletic wear that moves with you. 
                Designed for the dedicated and built to empower, our apparel blends bold design with breathable, durable materials so you can look good, feel unstoppable, and train without limits. 
                This isn’t just gym wear — this is Flex Gear, and it’s made to fuel your grind.</p>
        
        <a href="/product" class="btn btn-primary mt-3"> CLICK HERE 50% 0FF</a>
   </div>
   <body>
    <!-- Sildeshow with 5 images (carousel style)-->
  <div id="productcarousel" class="carousel slide" data-bs-ride="carousel"> <!--start image slideshow-->
    <div class="carousel-inner">
  

  <!--First image muscle t-shirt-->
  <div class="carousel-item active">
    <img src="/images/Muscle-tee.jpg" style="width: 200px; height: auto; display: block; margin: 0 auto;" alt="Muscle-tee"/>
</div>
    <!--Second image Shorts-->
    <div class="carousel-item">
        <img src="/images/Shorts.jpg"style="width: 200px; height: auto; display: block; margin: 0 auto;"  alt="Shorts"/>
    </div>

    <!--Third image Leggings-->
    <div class="carousel-item">
        <img src="/images/Leggings.jpg" style="width: 200px; height: auto; display: block; margin: 0 auto;" alt="Leggings"/>
    </div>

    <!--Fourth image Runners -->
    <div class="carousel-item">
        <img src="/images/Runners.jpg"  style="width: 200px; height: auto; display: block; margin: 0 auto;" alt="Runners"/>
        
    </div>

    <!--Fifth image Hoddie-->
    <div class="carousel-item">
        <img src="/images/Hoodies.jpg"  style="width: 200px; height: auto; display: block; margin: 0 auto;" alt="Hoodies"/>
    </div>
    
</div> 

<div>
<!-- Control: previous button -->
<button class="carousel-control-prev" type="button" data-bs-target="#productcarousel" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span> <!-- Left arrow -->
</button>

<!-- Control: next button -->
<button class="carousel-control-next" type="button" data-bs-target="#productcarousel" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span> <!-- Right arrow --> 
</button>

</div>

</div> 
<!-- this is the bootstap js in order to get the carousel working -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body> 
    </section>
        </body>
<!--Link to custom CSS the the colours and layout-->
<link rel="stylesheet" href="/css/style.css">

    </head>

</html>