<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body class="login-body">
    <!--This is to let user log in using email and password-->
<form action="/login" method="POST" class="login-form">

<!--Input for email-->
<input type="text" name="email" placeholder="Email" required/>

<!--Input for password-->
<input type="password" name="password" placeholder="Password" required/>

<!--Button to send-->
<button type="submit">Login</button>


</form>
</body>
